body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
    background: url(billeder/baggrund.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      width:100%;
     
  
}


  
@media only screen and (min-width: 300px) {


 /* top-bar  */
 .logo-bar {
  background-image: url(billeder/topbar-m.png);
  background-repeat: no-repeat;
  background-size: contain;
    width: 100%;
    height: 225px;
   position: relative;
   z-index: 77;
  }

 
.logo {
  position: absolute;
  width: 23%;
 top: 0.7%;
    left: 37.5%;
    
   
}



  .ikoner-L {
    display: inline-flex;
    margin-top: 1px;
    float: left;
    margin-left: 2%;
    
  }

  .TLF-R {
    display: inline-flex;
    margin-top: 1px;
    float: right;
    margin-right: 2%;
    
  }

  .telefoni {
    margin:25px 5px auto 5px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #c5bfbe;
    font-size: 10px;
    font-weight: 500;
  }

  .telefoni strong {
    margin:10px 5px auto 5px;
    font-family: 'Barlow' sans-serif;
    font-weight: 300;
    
    text-decoration: none;
    color: #919da7;
  }
  /* top-bar slut */

/* Ikoner i topbar */

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icon-facebook {
    display:block;
    margin:20px 5px auto 5px;
    cursor: pointer;
    background-image: url(billeder/facebook.png);
  }
  
  .icon-facebook:hover,
  .icon-facebook:focus {
    background-image: url(billeder/facebook-hover.png);
  }

  .icon-vline {
    display:block;
    margin:20px 11px auto 1px;
    cursor: pointer;
    background-image: url(billeder/V-LINE.png);
    height: 23px;
  }

  .icon-bænk {
    display:block;
    margin:25px 10px auto -28px;
    cursor: pointer;
    background-image: url(billeder/baenk.png);
  }

  .icon-telefon {
    display:block;
    margin:20px 5px auto 5px;
    cursor: pointer;
    background-image: url(billeder/telefon.png);
  }

  /* Ikoner i topbar */

  .LINE {
    background-color: #fff;
    min-height: 15px;
position: relative;
}

hr.streg {
    background-color: #c5bfbe;
    width: 99.5%;
    opacity: 0.5;
    margin-top: 15px;
    position: relative;
}




  .txtpris {
    display: flex;
    justify-content: space-between;
}

.txtpris:after {
    content: "";
    margin: 0px 14px;
    background: -webkit-radial-gradient(50% 50%, circle, #475b6d 1%, transparent 15%);
    background: -moz-radial-gradient(50% 50%, circle, #475b6d 1%, transparent 15%);
    background: radial-gradient(circle at 50% 50%, #475b6d 1%, transparent 15%);
    background-size: 1em 1em;
    background-position: 0 0.5em;
    background-position-y: 25px;
    background-repeat: repeat-x;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
  
}



.MENU-p {
    margin-left: 10%;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    color: #6e605e;
    font-weight: 300;
    


}

.MENU-p strong {
    
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    color: #475b6d;
    font-weight: 400;



}

.MENU-pris {
    margin-right: 10%;
    font-size: 16px;
    font-family: Heebo-Light, sans-serif;
    letter-spacing: 1px;
    color: #6e605e;
    font-weight: 400;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 3;

}

.circleimg {
  display: block;
  margin: 0 auto;
  margin-right: 5%;
  margin-top: -80px;
  padding-bottom: 50px;
  width: 22%;
}

.circleimg-burger {
  display: block;
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 20px;
  width: 22%;
}

/* Cirkel billeder på siden - slut */

#start {
  margin-top: -80px;
}

#burger {
  margin-top: -95px;
  padding-top: 30px;
}


#boernemenu {
  padding-top: 30px;
}
.pølse-sektion {
  max-width: 60%;
  height: auto;
  display: block;
 margin: 40px auto;
}


.burger-sektion {

  max-width: 70%;
  height: auto;
  display: block;
 margin: 30px auto;
}

.lilletekst {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #475b6d;
  font-weight: 400;
  letter-spacing: 1.5px;
}


.slider {
position: relative;
text-align: left;
color: white;

}

.sliderimg {
width: 100%;
height: auto;
 object-fit: contain;
 margin-bottom: -11px;
}

.slider-txt {
position: absolute;
top: 30%;
left: 15%;

}

.slider-tlf {
position: absolute;
top: 48%;
left: 45%;
color: #c5bfbe;
font-size: 2vw;
font-family: 'Barlow', sans-serif;
font-weight: 500;
letter-spacing: 4px;
}

.slider-tlf strong {

color: #919da7;

font-family: 'Barlow', sans-serif;
font-weight: 400;
letter-spacing: 4px;
}


.slider-table {
position: absolute;
bottom: 3%;
left: 15%;
max-width: 6%;
height: auto;
}

.slider-mike {
position: absolute;
top: 20px;
right: 0%;
max-width: 50%;
height: auto;
}

.lille-h2 {
color: #c5bfbe;
font-size: 1.8vw;
font-family: 'Barlow', sans-serif;
font-weight: 600;
}

.større-h2 {
margin: 1px 0;
font-size: 3.5vw;
letter-spacing: 3px;

font-family: 'Barlow', sans-serif;
font-weight: 400;
}

.slider-p {
margin-left: 30px;
color: #c5bfbe;
font-size: 1.4vw;
font-family: 'Barlow', sans-serif;
font-weight: 300;
}

.slider-p:before {
content: '\f0a9';
font: normal normal normal 16px/1 FontAwesome;
position: static;
margin-right: 7px;
font-size: 8px;
letter-spacing: 2.4px;
color: #c5bfbe;
}

.slider-adresse {
  position: absolute;
  display: inline-flex;
  right: 5%;
 top: 75%;
  width: 50%;
  
}

.icon-storline {
  display:block;
margin: 5px 10px 10px 30px;
  cursor: pointer;
  background-image: url(billeder/stor-line.png);
  height: 30px;
}

.adresse {
  display:block;
letter-spacing: 2px;
  color: #c5bfbe;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
 
}


}


@media only screen and (min-width: 1100px) {


  /* top-bar  */
.logo-bar {
  background-image: url(billeder/topbar.png);
  background-repeat: no-repeat;
  background-size: cover;
 
    width: 100%;
    height: 70px;
   position: relative;
   z-index: 77;
  }

 
.logo {
    position: absolute;
  width: 17%;
 top: 0.7%;
    left: 41%;
   
}



  .ikoner-L {
    display: inline-flex;
    margin-top: 10px;
    float: left;
    margin-left: 10%;
    
  }

  .TLF-R {
    display: inline-flex;
    margin-top: 10px;
    float: right;
    margin-right: 10%;
    
  }

  .telefoni {
    margin:10px 5px auto 5px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #c5bfbe;
    font-size: 20px;
    font-weight: 500;
  }

  .telefoni strong {
    margin:10px 5px auto 5px;
    font-family: 'Barlow' sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #919da7;
  }
  /* top-bar slut */

/* Ikoner i topbar */

  .icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icon-facebook {
    display:block;
    margin:10px 5px auto 5px;
    cursor: pointer;
    background-image: url(billeder/facebook.png);
  }
  
  .icon-facebook:hover,
  .icon-facebook:focus {
    background-image: url(billeder/facebook-hover.png);
  }

  .icon-vline {
    display:block;
    margin:15px 1px auto 1px;
    cursor: pointer;
    background-image: url(billeder/V-LINE.png);
    height: 23px;
  }

  .icon-bænk {
    display:block;
    margin:12px 10px auto -20px;
    cursor: pointer;
    background-image: url(billeder/baenk.png);
  }

  .icon-telefon {
    display:block;
    margin:10px 5px auto 5px;
    cursor: pointer;
    background-image: url(billeder/telefon.png);
  }

  /* Ikoner i topbar */

  .LINE {
    background-color: #fff;
    min-height: 15px;
position: relative;
}

hr.streg {
    background-color: #c5bfbe;
    width: 99.5%;
    opacity: 0.5;
    margin-top: 15px;
    position: relative;
}




.txtpris {
    display: flex;
    justify-content: space-between;
}

.txtpris:after {
    content: "";
    margin: 0px 14px;
    background: -webkit-radial-gradient(50% 50%, circle, #475b6d 1%, transparent 15%);
    background: -moz-radial-gradient(50% 50%, circle, #475b6d 1%, transparent 15%);
    background: radial-gradient(circle at 50% 50%, #475b6d 1%, transparent 15%);
    background-size: 1em 1em;
    background-position: 0 0.5em;
    background-position-y: 25px;
    background-repeat: repeat-x;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
  
}



.MENU-p {
    margin-left: 20%;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    color: #6e605e;
    font-weight: 300;
    


}

.MENU-p strong {
    
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    color: #475b6d;
    font-weight: 400;



}

.MENU-pris {
    margin-right: 20%;
    font-size: 16px;
    font-family: Heebo-Light, sans-serif;
    letter-spacing: 1px;
    color: #6e605e;
    font-weight: 400;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 3;

}




  /* Cirkel billeder på siden */

.circleimg {
    display: block;
    margin: 0 auto;
    margin-right: 15%;
    margin-top: 230px;
    width: 12%;
    padding-bottom: 0px;
}

.circleimg-burger {
    display: block;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 60px;
    width: 12%;
}

  /* Cirkel billeder på siden - slut */

#start {
    margin-top: -90px;
}

#burger {
    margin-top: -165px;
    padding-top: 0px;
}


#boernemenu {
    padding-top: 30px;
}
.pølse-sektion {
    max-width: 100%;
    height: auto;
    display: block;
   margin: 40px auto;
}


.burger-sektion {
  
    max-width: 100%;
    height: auto;
    display: block;
   margin: 30px auto;
}


.lilletekst {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #475b6d;
    font-weight: 400;
    letter-spacing: 1.5px;
}


.slider {
  position: relative;
text-align: left;
color: white;

}

.sliderimg {
 width: 100%;
height: auto;
   object-fit: contain;
   margin-bottom: -4px;
}

.slider-txt {
  position: absolute;
  top: 30%;
  left: 15%;
 
}

.slider-tlf {
  position: absolute;
  top: 48%;
  left: 45%;
  color: #c5bfbe;
  font-size: 2vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
}

.slider-tlf strong {

  color: #919da7;
 
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
}


.slider-table {
  position: absolute;
  bottom: 10%;
  left: 15%;
 max-width: 6%;
 height: auto;
}

.slider-mike {
  position: absolute;
  top: 80px;
  right: 0%;
 max-width: 50%;
 height: auto;
}

.lille-h2 {
  color: #c5bfbe;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.større-h2 {
  margin: 1px 0;
  font-size: 3.5vw;
  letter-spacing: 3px;
  
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.slider-p {
  margin-left: 30px;
  color: #c5bfbe;
  font-size: 1.1vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

.slider-p:before {
  content: '\f0a9';
  font: normal normal normal 16px/1 FontAwesome;
  position: static;
  margin-right: 7px;
  font-size: 16px;
  letter-spacing: 2.4px;
  color: #c5bfbe;
}

.slider-adresse {
  position: absolute;
  display: inline-flex;
  right: 5%;
 top: 75%;
  width: 50%;
  
}

.icon-storline {
  display:block;
margin: 25px 10px 10px 30px;
  cursor: pointer;
  background-image: url(billeder/stor-line.png);
  height: 70px;
}

.adresse {
  display:block;
letter-spacing: 2px;
  color: #c5bfbe;
  font-size: 1.1vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
 
}

  }